@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    position: relative;
    background-color: #67C8FF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 20px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);

    &__nav {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        gap: 30px;

        &-link {
            padding-bottom: 5px;
        }

        &-link.--active {
            border-bottom: 2px solid #000;
        }
    }
}

.team {
    margin-top: 90px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;

        &-item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            width: 320px;
            height: 390px;
            background-color: #E7E7E5;
            padding: 20px 20px 13px;
            box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);

            &__photo {
                grid-column: span 2;
                width: 280px;
                height: 280px;
                padding: 10px;
                background-color: #0D120E;
            }

            &__name {
                display: flex;
                flex-direction: column;
            }

            &__role {
                padding-top: 4px;
                margin-top: 8px;
                border-top: 2px solid #67C8FF;
            }

            &__image {
                margin-left: auto;
            }
        }
    }
}

.animateOne {
    margin-top: 60px;

    @keyframes pulse {
        0% {
            -webkit-transform: scale3d(0.5, 0.5, 0.5);
            transform: scale3d(0.5, 0.5, 0.5);
        }

        50% {
            -webkit-transform: scale3d(1.25, 1.25, 1.25);
            transform: scale3d(1.25, 1.25, 1.25);
        }

        to {
            -webkit-transform: scale3d(0.5, 0.5, 0.5);
            transform: scale3d(0.5, 0.5, 0.5);
        }
    }

    @keyframes shakeX {

        0%,
        to {
            -webkit-transform: translateZ(0);
            transform: translateZ(0)
        }

        10%,
        30%,
        50%,
        70%,
        90% {
            -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
        }

        20%,
        40%,
        60%,
        80% {
            -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
        }
    }

    &__inner {
        position: relative;
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__highlight {
        position: absolute;
    }

    &__highlight:nth-child(1) {
        top: 50%;
        left: 37%;
        width: 3%;
    }

    &__highlight:nth-child(2) {
        top: 42%;
        right: 16%;
        width: 3%;
    }

    &__highlight:nth-child(3) {
        top: 23%;
        left: 10%;
    }

    &__highlight:nth-child(4) {
        top: 12%;
        left: 20%;
    }

    &__highlight:nth-child(5) {
        top: 50%;
        left: 6%;
    }

    &__highlight:nth-child(6) {
        top: 15%;
        left: 30%;
    }

    &__rainbow {
        position: absolute;
        top: 7%;
        left: -10%;
        transform: rotate3d(10, -50, -6, 60deg);

        .line {
            stroke-dashoffset: 500;
            stroke-dasharray: 500;
            animation: animdash 5s infinite 6s;
        }

        @keyframes animdash {
            to {
                stroke-dashoffset: 0;
            }
        }
    }

    &__text {
        position: absolute;
        bottom: 20px;
        right: 40px;
        width: 320px;
        font-family: 'Pangolin';
    }
}

.animateTwo {
    margin-top: 160px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40px 1fr;
        gap: 60px 40px;
    }

    &__title {
        grid-column: 2;
        grid-row: 1;
        margin-left: auto;
    }

    &__image {
        position: relative;
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1;
        grid-row: span 2;

        &-star {
            position: absolute;
            border-radius: 40px;
            box-shadow: 0px 0px 40px 10px #ffc61b;

            @keyframes pulse {
                0% {
                    -webkit-transform: scale3d(0.5, 0.5, 0.5);
                    transform: scale3d(0.5, 0.5, 0.5);
                }

                50% {
                    -webkit-transform: scale3d(1.25, 1.25, 1.25);
                    transform: scale3d(1.25, 1.25, 1.25);
                }

                to {
                    -webkit-transform: scale3d(0.5, 0.5, 0.5);
                    transform: scale3d(0.5, 0.5, 0.5);
                }
            }
        }

        &-star:nth-child(1) {
            top: 5%;
            left: 15%;
        }

        &-star:nth-child(2) {
            top: 10%;
            right: 25%;
        }

        &-star:nth-child(3) {
            bottom: 31%;
            left: 15%;
        }

        &-star:nth-child(4) {
            top: 40%;
            left: 25%;
        }

        &-star:nth-child(5) {
            top: 27%;
            left: 7%;
        }

        &-star:nth-child(6) {
            top: 13%;
            left: 47%;
        }

        &-planet {
            position: absolute;
            top: 51%;
            left: 19%;

            @keyframes fadeOutTopLeft {
                0% {
                    opacity: 1;
                    -webkit-transform: translateZ(0) scale3d(0.1, 0.1, 0.1);
                    transform: translateZ(0) scale3d(0.1, 0.1, 0.1);
                }

                to {
                    opacity: 0;
                    -webkit-transform: translate3d(-200%, -200%, 0) scale3d(1.5, 1.5, 1.5);
                    transform: translate3d(-200%, -200%, 0) scale3d(1.5, 1.5, 1.5);
                }
            }
        }
    }

    &__text {
        margin-left: auto;
        text-align: right;
        grid-column: 2;
        grid-row: 2;
    }
}

.founded {
    margin-top: 160px;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-left: auto;
    }

    &__swiper {
        width: 1040px;
        height: 580px;
        padding: 0 40px 40px;

        &-wrapper {
            width: 980px;
            justify-content: center;
            align-items: center;
        }

        &-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 270px !important;
            height: 360px !important;
            padding: 20px 20px 13px;
            background-color: #E7E7E5;
            box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);

            &__photo {
                padding: 10px;
                background-color: #0D120E;
                width: 260px;
                height: 270px;
            }

            &__text {
                margin-left: auto;
                width: 140px;
                padding-top: 5px;
                border-top: 2px solid #67C8FF;
                text-align: right;
            }
        }

        &-navigation {
            width: 70px;
            height: 70px;
        }

        &-navigation::after {
            display: none;
        }

        .swiper-slide-active {
            scale: 1.2;
            z-index: 10;
            transition: ease .3s;
        }

        .swiper-slide-prev,
        .swiper-slide-next {
            scale: 1.1;
            z-index: 5;
            transition: ease .3s;
        }
    }
}

.main.pets {
    .founded {
        margin-top: 90px;

        &__title {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .homeless {

        &__list {
            padding: 0 20px 30px 0;
            max-height: 680px;
            overflow-y: scroll;
            scrollbar-color: #67C8FF #EC92A1;
        }
    }
}

.homeless {
    margin-top: 160px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        &-item,
        &-link,
        &-link__img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

        &-item {
            box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
        }

        &-link {
            position: relative;

            &__name {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: none;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                text-align: center;
                font-size: 32px;
                background-color: rgba(#F5F5F5, .5);
            }
        }

        &-item:hover {

            .homeless__list-link__name {
                display: flex;
            }
        }
    }

    &__btn {
        margin: 0 auto;
    }
}

.callback {
    margin: 160px 0 180px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 80px;

        &-left,
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-left {
            position: relative;
            padding-left: 60px;
        }

        &-left::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 70px;
            top: 0;
            left: 0;
            background-image: url('../images/callback-phone.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        &-right {
            align-items: flex-end;
            gap: 10px;

            &__link {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        &-btn {
            margin: 0 auto;
        }
    }
}

.card {
    margin-top: 40px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__breadcrumbs {
        color: #3765A3;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        gap: 40px;

        &-name {
            position: relative;
        }

        &-name::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #3765A3;
            border-right: 2px solid #3765A3;
            top: 25%;
            left: -25px;
            transform: rotate(-45deg);
        }
    }

    &__title {
        margin-top: 25px;
    }

    &__info {
        display: grid;
        grid-template-columns: 360px 1fr;
        gap: 20px;

        &-name,
        &-age,
        &-race {
            margin-left: 100px;
        }

        &-name,
        &-age,
        &-race,
        &-comment {
            display: flex;
            flex-direction: column;
            font-size: 32px;
            gap: 10px;
        }

        &-img {
            grid-row: span 3;
            box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            width: 100%;
        }

        &-comment {
            grid-column: span 2;

            span {
                font-size: 24px;
                font-weight: 300;
            }
        }
    }

    &__form {

        &-btn {
            margin: 0 auto;
        }
    }

    &__swiper {
        width: 1040px;
        height: 580px;
        padding: 0 40px 40px;

        &-wrapper {
            width: 980px;
            justify-content: center;
            align-items: center;
        }

        &-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 270px !important;
            height: 360px !important;
            padding: 20px 20px 13px;
            background-color: #E7E7E5;
            box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);

            &__photo {
                padding: 10px;
                background-color: #0D120E;
                width: 260px;
                height: 270px;
            }

            &__text {
                font-family: 'Rubik Dirt';
                margin-left: auto;
                width: 140px;
                padding-top: 5px;
                border-top: 2px solid #67C8FF;
                text-align: right;
            }
        }

        &-navigation {
            width: 70px;
            height: 70px;
        }

        &-navigation::after {
            display: none;
        }

        .swiper-slide-active {
            scale: 1.2;
            z-index: 10;
            transition: ease .3s;
        }

        .swiper-slide-prev,
        .swiper-slide-next {
            scale: 1.1;
            z-index: 5;
            transition: ease .3s;
        }
    }
}

.footer {
    background-color: #67C8FF;
    box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.25);

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__info,
    &__copyright {
        padding: 40px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &-social {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            text-transform: uppercase;

            &__title {
                grid-column: span 2;
            }
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        background-color: #C9F5FF;
        box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.25);

        &-text {
            opacity: .5;
        }
    }
}

@import 'media';